body {
  background: #f7edc5;
}

h1, h3, h4 {
  text-align: center;
  margin-top: 15px;
}

ul {
  text-align: center;
  list-style-position: inside;
}

.container {
  background-color: white;
  padding-left: 50px;
  padding-right: 50px;
}

.jumbotron {
  background: linear-gradient(#14b2e6, #f7edc5);
}

.question{
  font-weight: bold;
}

#surveyForm {
  display: none;
}

#resultJava, #resultPHP, #resultRuby, #resultC, #resultSplit {
  display: none;
  text-align: center;
  padding-bottom: 20px;
}
